[Desktop Entry]
Type=Application
Version=1.0
Name=Install AI-2
GenericName=System Installer
Comment=AI-2 System Installer
TryExec=ai2-install
Exec=ai2-install
Icon=/usr/share/icons/hicolor/scalable/apps/ai2.svg
Terminal=false
StartupNotify=true
Categories=Qt;System;
